
#root {
    
    -fx-background-color: #f4f4f4;
}
#buttonLocatore, #visualizzaSegnalazioniButton {
    -fx-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    -fx-text-fill: white; 
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-background-color: #007bff;
}

#benvenuto {
    -fx-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    -fx-text-fill: black; 
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-background-color: #f4f4f4;
}

#buttonLocatario, #inoltraSegnalazioni {
    -fx-font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    -fx-text-fill: white; 
    -fx-font-size: 16px;
    -fx-padding: 10;
    -fx-background-color: #6c757d;
}

.menu, .menu-item, .context-menu, .label {        -fx-background-color: #343a40;
    -fx-text-fill: white;
    
}

.menu-bar{
    -fx-background-color: #343a40;
    -fx-text-fill: white;
}
